body
{
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

form
{
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 200px;
    border-radius: 25px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
input
{
    height: 30px;
}
input[type="submit"]
{
    color: azure;
    border: azure solid 1px;
    background-color: hsl(154, 59%, 51%);
    font-size: 14pt;
}
